*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*html, body, main {
    height: 100%;
}*/
.picture__img img{
    width: 2rem;
}

nav {
    display: flex;
    /*justify-content: center;*/
    padding-left: 10px;
    align-items: center;
    height: 85px;
    background: rgb(220 38 38);
    color: #f0f0f0;
}
.div__formCrearProducto {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.div__formCrearProducto form {
    width: 100%;
    max-width: 400px;
    font-weight: 700;
    background: #EEEEEEFF;
}
textarea {
    resize: none;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: rgb(220 38 38);
}

/*--------------PRODUCTOS------------*/
.div__productos {
    width: 90%;
    margin: auto;
}
.productos {
    max-width: 400px;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 10px;
    background: #e9ecef52;
}
.img__productos {
    width: 6rem;
    padding: .5rem;
}
.datos__productos {
    width: 12rem;
}
.datos__parrafo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    color: #000;
    width: 95%;
    margin: 1rem auto;
    font-size: 0.9rem;
}
.datos__parrafo span {
    font-weight: 400;
}
.h2__crearProducto {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 1rem;
}
/*--------------FIN DE PRODUCTOS------------*/
