*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*html, body, main {
    height: 100%;
}*/
/*.home__panel {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}*/
.picture__img img{
    width: 2rem;
}
.textBold4 {
    font-weight: 400;
}
.textBold8 {
    font-weight: 800;
}
.fontSize {
    font-size: 2rem;
}
.fontSize1 {
    font-size: 1rem;
}
.fontSize1_3 {
    font-size: 1.3rem;
}
.fontSizePequeño {
    font-size: .7rem;
}
nav {
    display: flex;
    /*justify-content: center;*/
    padding-left: 10px;
    align-items: center;
    height: 85px;
    background: rgb(220 38 38);
    color: #f0f0f0;
}
.div__formCrearProducto {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.div__formCrearProducto form {
    width: 90%;
    max-width: 400px;
    font-weight: 700;
    background: #EEEEEEFF;
}
textarea {
    resize: none;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: rgb(220 38 38);
}
.metodo__pago {
    font-size: .7rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f0f0;
}
/*--------------PRODUCTOS------------*/

.productos {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
.productos a{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #edf2f4;
    width: 100%;
    max-width: 400px;
   /* max-width: 400px;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    */

}
.img__productos {
    width: 6rem;
    margin: auto;
}
.img__productosHome {
        width: 15%;
        border-radius: 50%;
        margin: auto;
        padding: .5rem;
        border: 1px solid red;
}
.img__productosAdmin {
    width: 4rem;
    border-radius: 50%;
    margin: auto;
    padding: .5rem;
}
.datos__descripcion {
    font-size: .7rem;
    color: gray;
    margin-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
}
.datos__productos {
    width: 65%;
    padding-left: 1rem;
}
.datos__parrafo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    color: #000;
    width: 95%;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
}
.datos__parrafo span {
    font-weight: 400;
}
.h2__crearProducto {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 1rem;
}
/*--------------FIN DE PRODUCTOS------------*/

/*-------------ADMIN PRODUCTOS----------------*/
.div__productos {
    width: 100%;
}
.div__adminProductos {
    display: grid;
    grid-template-columns: repeat(2, 8.5rem);
    /*grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    border-radius: 10px;
    width: 100%;
    background-color: #eaeaec;*/
}
.menu__DelAdmin {
    display: flex;
    flex-wrap: wrap;
}
.menu__DelAdmin div a {
    font-size: .8rem;
}
.btn__productosAdmin div a {
    font-size: .8rem;

}
.datos__parrafoAdmin {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    color: #000;
    width: 100%;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
}
.img__productosAdmin {
  /*  grid-column: 1 / 2;
    grid-row: 1;*/
}
.datos__productosAdmin {

   /* grid-column: 1 / 3;
    grid-row: 2 / 2;*/
}
.btn__productosAdmin {
   /* grid-column: 2;
    grid-row: 1;*/

    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

}
.hola, .btnEliminarAdmin {
    height: 2.5rem;
    /*background: #05ffa3;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.hola:hover {
    background: #92e5c6;
}
.btnEliminarAdmin:hover {
    background: #f682a0;
}
/*-------------FIN ADMIN PRODUCTOS----------------*/
@media (min-width: 401px) and (max-width: 500px) {


}
@media (min-width: 501px) and (max-width: 600px) {


}
@media (min-width: 601px) and (max-width: 700px) {


}
@media (min-width: 701px) and (max-width: 800px) {


}
@media (min-width: 801px) and (max-width: 900px) {


}
@media (min-width: 901px) and (max-width: 1000px) {

    /*.home__panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }*/
}
@media (min-width: 1001px) and (max-width: 1600px) {

    .home__panel {
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
        padding: 1rem;
        justify-content: center;
    }
    .div__productos {
        /*width: 15rem;*/
        border-radius: 9px;
    }



    .admin__menu {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
}
